body	    {margin-left:20px;background-color:#272822; font-size:1em; color:#ccc; max-width:600px;
          font-family:Lato; font-weight:300;}

h1        {font-weight:300; font-size:2.5em; margin:5px 0 -10px 20px;}

#topBar, #bottomBar
          {width:100%; position:fixed; 
          background-color:#373832; color:#ccc; box-shadow: 0 0 10px red;} 

#topBar   {top:0px; left:0px; height:80px;margin-bottom:100px;}

#bottomBar{height:1px; bottom:0px;left:0px; margin:0; padding-bottom:20px;
          text-align:center;font-size:0.8em; }

#content  {margin-top:100px;}             

a         {text-decoration:none;color:#888}

table, form {
            border: 2px solid black; 
		        padding:10px; background-color:#333530;
            display:block; width:550px;
            }
            
form    	{width:400px;}

.new_article_button {
						display: inline-block;
						position:fixed; top:30px; right:30px;
						padding: 5px; background: black;
						border: 2px solid black; border-radius:30%;
						}
/*.flash { 
            background: black;
            border-radius:30%; 
            padding: 10px;
            box-shadow: 0 0 10px black;
            width: auto;
          }*/